*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   
}
body{
    background-color: black;
 color:whitesmoke
}
.image-inverted{
    filter: invert(100%);
}
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}